<% for(var i = 0; i < users.length; i++) { %>
<tr>
    <td><%= i + 1 %></td>
    <td><%= users[i].username %></td>
    <td><%= users[i].email %></td>
    <td><%= users[i].name %></td>
    <td>

        <a class="btn border-shadow delete" data-id=<%= users[i]._id%> >
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>
<% } %>