<% for(var i = 0; i < users.length; i++) { %>
<tr>
    <td><%= i + 1 %></td>
    <td><%= users[i].username %></td>
    <td><%= users[i].email %></td>
    <td><%= users[i].name %></td>
    <td><%if (users[i].isSubscribed === 1){%>
            Yes
        <%}%>
        <%if (users[i].isSubscribed === 0){%>
            No
        <%}%>
    </td>
    <td>
        <%if (users[i].admin === 0) {%>
        <a class="btn border-shadow delete" data-id=<%= users[i]._id%> >
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
        <%}%>
    </td>
</tr>
<% } %>